[user]
	name = Benjamin Ryzman
	email = benjamin@ryzman.fr
	signingkey = 67E0FBA6
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	commit = cyan bold
	frag = magenta bold
#	old = red strike
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	autocrlf = input
	excludesfile = ~/.cvsignore
	editor=vim
;	pager = diff-so-fancy | vimpager -c 'set filetype=git nowrap'
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff --patch-with-stat --color --color-words --abbrev
	dc = diff --patch-with-stat --color --color-words --abbrev --cached
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	ign = ls-files -o -i --exclude-standard
	patch = !git --no-pager diff --no-color
[branch]
	autosetupmerge = true
[url "ssh://git@github.com/"]
	insteadof = "github:"
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[merge]
	tool=vimdiff
[push]
	default = simple
[pull]
	rebase = false
