Xft.dpi:                96
Xft.autohint:           0
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintsfull

Xcursor.theme:          Paper

! special
*.foreground:   #a89984
*.background:   #282828
*.cursorColor:  #a89984

! black
*.color0:       #32302f
*.color8:       #928374

! red
*.color1:       #cc241d
*.color9:       #fb4934

! green
*.color2:       #98971a
*.color10:      #b8bb26

! yellow
*.color3:       #d79921
*.color11:      #fabd2f

! blue
*.color4:       #458588
*.color12:      #83a598

! magenta
*.color5:       #b16286
*.color13:      #d3869b

! cyan
*.color6:       #689d6a
*.color14:      #8ec07c

! white
*.color7:       #a89984
*.color15: #ebdbb2

rofi.modi:               run,drun,window
rofi.matching:           fuzzy
rofi.font:               sans 12
rofi.padding:            10
rofi.width:              720
rofi.levenshtein-sort:   true
rofi.disable-history:    false
rofi.show-icons:         true
rofi.color-enabled:      true
rofi.color-window:       argb:dd315975, argb:dd315975, #55a5f6
rofi.color-normal:       argb:99315975, #e8e8e8, argb:00315975, #55a5f6, #ffffff
rofi.color-active:       argb:99315975, #55a5f6, argb:00315975, #55a5f6, #66c6ff
rofi.color-urgent:       argb:99315975, #da4281, argb:00315975, #55a5f6, #890661
