[Unit]
Description=Timer for random wallpaper with feh

[Timer]
OnActiveSec=5sec
OnUnitActiveSec=10min
Unit=feh-wallpaper.service

[Install]
WantedBy=X.target
